
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /Projects/wordpress/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /Projects/wordpress/index.php [L]
php_value upload_max_filesize 100M
php_value memory_limit 256M
php_value post_max_size 32M
php_value max_execution_time 600
php_value max_input_time 900
</IfModule>

# END WordPress
